.kk__navbar {
  background: #6f4e37;
  height: 80px;
  display: flex;
  align-items: center;
}

.kk__navbar_container {
  width: 960px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding: 1.5rem 5rem; */
}

.kk__navbar-links_logo {
  color: #fff;
  padding-left: 20px;
  font-size: 24px;
  cursor: pointer;
}

.kk__navbar-search_bar {
  /* border: 1px solid red; */
  display: flex;
  align-items: center;
  height: 40px;
  width: 300px;
  border-radius: 5px 5px 5px 5px;
  background: #fff;
}

.kk__navbar-search_bar input {
  flex: 8;
  border: none;
  border-radius: 5px 0 0 5px;
  height: 100%;
  padding: 5px;
}

.kk__navbar-search_bar input:focus {
  border: 3px solid black;
  outline: none;
}

.kk__navbar__search_icon {
  flex: 1;
  height: 70%;
  padding: 5px;
  cursor: pointer;
}

.kk__navbar-cart_icon {
  /* border: 1px solid red; */
  color: #fff;
  padding: 5px 0;
  margin: 0 20px;
  height: 40px;
  width: 40px;
  font-size: 30px;
  cursor: pointer;
}

.kk__navbar-sign {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  cursor: pointer;
}

.kk__navbar-sign button {
  margin: 0 20px;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  background: rgba(102, 255, 0, 0.693);
  color: #fff;
  font-weight: 500;
  cursor: pointer;
}

.kk__navbar-sign button:hover {
  background: #fff;
  border: 2px solid rgb(52, 130, 0);
  color: rgb(52, 130, 0);
}

.kk_navbar-profile_icon {
  /* border: 1px solid black; */
  height: 50px;
  width: 50px;
}

.kk_navbar-profile_icon .circle {
  border: 1px solid red;
  border-radius: 50px;
  height: 50px;
}
