.kk__products {
  border: 1px solid rgb(181, 12, 125);
  width: 960px;
  margin: auto;
}

.kk__products-lists {
}

.kk__products-lists ul {
  list-style: none;
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
  gap: 3px;
}

.kk__products-lists li {
  background: #fff;
}

.kk__products-lists li p {
  background: #fff;
  padding: 5px;
}

.kk__products-lists li p:last-child {
  text-align: end;
  margin-top: 5px;
}

.kk__products-lists li img {
  width: 100%;
}

.hide {
  display: none;
}

.kk__products_product:hover {
  border: 2px solid rgb(36, 83, 255);
  cursor: pointer;
}

.kk__products_product:hover > .hide {
  display: block;
}

.btn-buy {
  width: 100%;
  padding: 5px;
  color: #fff;
  font-size: 1rem;
  background: rgb(205, 150, 61);
  border: none;
}

.btn-buy:hover {
  background: #fff;
  border: 2px solid rgb(205, 150, 61);
  color: rgb(205, 150, 61);
  cursor: pointer;
}
